<header class="header-main">
  <div class="header">
    <div class="container">
      <div class="header-content">
        <div class="header-left">
          <div class="header-logo">

            <div class="header-category">
              <i class="fa-solid fa-bars"></i>
            </div>
            <a [routerLink]="['']">
              <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v631/v2_2019/pc/graphics/logo.svg" alt="">
            </a>
          </div>
          <div class="header-time">
                  <span>
                      {{date | date:'dd-MM-yyyy'}}
                  </span>
          </div>
        </div>
        <div class="header-right">
          <div class="header-search">
            <input type="search" placeholder="Search..." name="searchTerm"
                   [(ngModel)]="searchTerm" (keyup)="search($event)" [ngModelOptions]="{standalone: true}"

            >

            <i class="fa-solid fa-magnifying-glass"></i>

          </div>
          <div class="header-auth header-login" *ngIf="!user">
            <i class="fa-solid fa-user"></i>
            <a routerLink="/login">Đăng Nhập</a>

          </div>
          <div class="header-auth header-admin" *ngIf="user">
            <i class="fa-brands fa-adn"></i>
            <a routerLink="/admin">Admin :  {{user.email}}</a>

          </div>
          <div class="header-auth header-logout" *ngIf="user">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <a routerLink="''" (click)="signOut()">Đăng Xuất</a>

          </div>

        </div>
      </div>
    </div>
  </div>

  <section class="section-category">
    <ul class="section-category-list">
      <li class="section-category-item">
        <a [routerLink]="['']" class="section-category-item__home">
          <i class="fa-solid fa-house"></i>

        </a>
        <a href="#" class="section-category-item__ehome">
          <i class="fa-solid fa-e"></i>
        </a>
      </li>
      <li class="section-category-item item-first">
        <a [routerLink]="['']">
          Mới nhất
        </a>

      </li>
      <li class="section-category-item">
        <a [routerLink]="['thoisu']">
          Thời sự
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['thegioi']">
          Thế giới
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['kinhdoanh']">
          Kinh doanh
        </a>
      </li>

      <li class="section-category-item">
        <a [routerLink]="['khoahoc']">
          Khoa học
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['giaitri']">
          Giải trí
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['thethao']">
          Thể thao
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['phapluat']">
          Pháp luật
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['giaoduc']">
          Giáo dục
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['suckhoe']">
          Sức khỏe
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['doisong']">
          Đời sống
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['dulich']">
          Du lịch
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['sohoa']">
          Số hóa
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['xe']">
          Xe
        </a>
      </li>
      <li class="section-category-item">
        <a [routerLink]="['ykien']">
          Ý kiến
        </a>
      </li>
    </ul>
  </section>
</header>
