<footer class="footer-main">
    <div class="container">
        <div class="footer-inner">
            <ul class="footer-inner-list first-list">
                <li class="footer-inner-item">
                    <a href="#">Trang chủ</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Video</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Podcast</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Ảnh</a>
                </li>

                <li class="footer-inner-item item-border">
                    <a href="#">Infographics</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Mới nhất</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Xem nhiều</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Tin nóng</a>
                </li>


            </ul>
            <ul class="footer-inner-list">
                <li class="footer-inner-item">
                    <a href="#">Thời sự</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Góc nhìn</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Thế giới</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Kinh doanh</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Giải trí</a>
                </li>

              


            </ul>
            <ul class="footer-inner-list">
                <li class="footer-inner-item">
                    <a href="#">Thể thao</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Pháp luật</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Giáo dục</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Sức khỏe</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Đời sống</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Du lịch</a>
                </li>

                


            </ul>
            <ul class="footer-inner-list">
                <li class="footer-inner-item">
                    <a href="#">Khoa học</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Số hóa</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Xe</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Ý kiến</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Tâm sự</a>
                </li>

                <li class="footer-inner-item">
                    <a href="#">Hài</a>
                </li>

               


            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2145254769553!2d106.78957301530284!3d10.87128166040713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOw7RuZyBMw6JtIFRwLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1660114140361!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
           
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright__left">
                <p>Báo điện tử</p>
                <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v635/v2_2019/pc/graphics/logo.svg" alt="">
            </div>
            <div class="footer-copyright__right">
                <a href="#">RSS</a>
                <a href="#">Theo dõi VnExpress trên</a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>