.container {
  width: 100%;
  max-width: 550px;
  padding: 0 15px;
  margin: 150px auto -200px;
  position: relative;

}

.note {
  color: red;
  font-weight: bold;
  text-align: center;
}

.status {
  margin: 5px 0;
  border: solid 1px black;
  padding: 5px;
}

.admin {
  &-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  &-title {
    width: 40%;
    font-weight: 500;
  }

  &-feature {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

button {
  outline: none;
  border: none;
  width: 45%;
}

.admin-feature button:first-child {
  background-color: #00AAFD;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}

.admin-feature button:nth-child(2) {
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #F16657;
}
